main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 760px;
    margin: 0 0 30px;
    background-color: rgb(113, 216, 113);
    border-radius: 50px;
    
}

span {
    color: rgb(2, 79, 2);
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.grid {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     gap: 1%;
     width: 100%;
     max-width: 800px;
     margin: 0 auto;
     
       
}


.nome {
    background-color: aqua;
    width: 500%;
    height: 500%;
}
.card {
    aspect-ratio: 5/5;
    width: 100%;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d; 
    
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: all 2000ms ease;

}

.front {
    transform: rotateY(180deg);
 
}

.back {
    background-image: url(../imagens/back.png);
    backface-visibility: hidden;  
}

.reveal-card {
    transform: rotateY(180deg);
    background-color: rgb(54, 54, 54);
    border-radius: 50%;
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}
