@import url('https://fonts.googleapis.com/css2?family= Bruno+Ace+SC & display = swap');

* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   border: none;
   font-family: 'Bruno+Ace+SC', sans-serif;
   

}